.Batches .Batch{
    flex-flow: row;
}

.Batches .Batch .batchNumber{
    display: flex;
    border-radius: 50%;
    height:2.4375rem;
    width:2.4375rem;
    font-size: 2rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    color:#F6F7F8;
    background-color: #FACD00;
    color:#F6F7F8;
    margin:0 .875rem 0 0;
    font-family: 'SuperMario', sans-serif;
}
.Batches .Batch.isNew .batchNumber {
    background-color: #AF044A;
}
.Batches .Batch .releaseInfo{
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: space-between;
    flex: 1 0 0;
}
.Batches .Batch .releaseDay {
    font-size:1rem;
    line-height: 1.125rem;
}
.Batches .Batch .batchLevelAmount{
    font-size:.875rem;
    line-height: 1rem;
}
.Batches .Batch.isUnreleased .batchNumber{
    background-color: #194670;
    color:inherit
}
.Batches .Batch .new, .Batch.isUnreleased .unreleased, .Batch.isUnreleased .final {
    line-height: .8125rem;
    border-radius: .25rem;
    font-size:.75rem;
    height:1.375rem;
    display: flex;
    justify-content: center;
    align-items: center; 
    padding:.25rem .5rem;
}
.Batches .Batch.isNew .new{
    background-color: #AF044A;
    color:#F6F7F8;
}
.Batches .Batch  .final{
    margin-left:1em;
    background-color: black;
}
.Batches .Batch .unreleased{
    background-color: black;
}

.Batches .Card.disabled{
    background:#0C2338;
    opacity: .5;
}
.Batches .Card.disabled + .Card.disabled{
    opacity: .3;
}
.Batches .Card.disabled + .Card.disabled + .Card.disabled{
    opacity: .1;
}
.Batches .Card.disabled + .Card.disabled + .Card.disabled + .Card.disabled{
    display:none;
}